${h.form(url('admin_settings_mapping'), method='post')}
    <div class="form">
            <div class="form-group">
                <label class="control-label" for="destroy">${_('Rescan options')}:</label>
                <div>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('destroy',True)}
                            ${_('Delete records of missing repositories')}
                        </label>
                    </div>
                    <span class="help-block">${_('Check this option to remove all comments, pull requests and other records related to repositories that no longer exist in the filesystem.')}</span>

                    <div class="checkbox">
                        <label>
                            ${h.checkbox('invalidate',True)}
                            ${_('Invalidate cache for all repositories')}
                        </label>
                    </div>
                    <span class="help-block">${_('Check this to reload data and clear cache keys for all repositories.')}</span>

                    <div class="checkbox">
                        <label>
                            ${h.checkbox('hooks',True)}
                            ${_('Install Git hooks')}
                        </label>
                    </div>
                    <span class="help-block">${_("Install Kallithea's internal hooks for all Git repositories where they are missing or can be upgraded. Existing hooks that don't seem to come from Kallithea will not be touched.")}</span>
                    <div class="checkbox">
                        <label>
                            ${h.checkbox('hooks_overwrite', True)}
                            ${_('Install and overwrite Git hooks')}
                        </label>
                    </div>
                    <span class="help-block">${_("Install Kallithea's internal hooks for all Git repositories. Existing hooks that don't seem to come from Kallithea will be disabled by renaming to .bak extension.")}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="buttons">
                    ${h.submit('rescan',_('Rescan Repositories'),class_="btn btn-default")}
                </div>
            </div>
    </div>
${h.end_form()}
